@model IEnumerable<GroceryShopMiniProjNew.Models.GroceryProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2><i>Products</i></h2>
<title>Text alignment</title>
<style>
        h1 {
                text-align: right;
                background-color:bisque;

    }</style> 
<bodystyle style="background-color:bisque">
    <h1><i><b>Welcome</b></i></h1>
    <h1><i><b> @Context.Session.GetString("username")</b></i></h1>
    <p >
        <a asp-action="Create" class="btn btn-primary " style="color:#FFFFFF">Create New</a>
</p>
    <table class="table" style="background-color:darkslateblue">
    <thead>
        <tr>
                <th style="color:#FFFFFF">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
                <th style="color:#FFFFFF">
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
                <th style="color:#FFFFFF">
                @Html.DisplayNameFor(model => model.ProductQuantityKg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td style="color:#FFFFFF">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
                    <td style="color:#FFFFFF">
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
                    <td style="color:#FFFFFF">
                @Html.DisplayFor(modelItem => item.ProductQuantityKg)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-danger" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" class="btn btn-success"  asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete"class="btn btn-danger" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    
    <a asp-action="product" class="btn btn-info" style="color:#FFFFFF" asp-controller="Product">Logout</a>

